

<div class="border rounded shadow min-vh-75 bg-med-yellow
            px-lg-5 pb-lg-5 pt-lg-2
            px-2 pt-2 mx-1">

  <div class="row bg-light border shadow rounded-pill sticky-div
              my-lg-3 p-lg-2 pb-lg-0
              my-1 p-2 pb-2">
    <div class="col-lg-4 col-12 my-lg-auto">
      <div class="d-flex dropdown justify-content-center mb-1
                  justify-content-lg-start">
        <button class="btn btn-warning rounded-pill dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Selected Accounts
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="" *ngFor="let account of dbAccounts">
              <!-- (click)="toggleAccounts(account)" -->
              <div class="dropdown-item" (click)="$event.stopPropagation()" (click)="toggleAccounts(account)">
                  <input class="form-check-input" type="checkbox" checked id="{{account}}" value="{{account}}" (click)="toggleAccounts(account)">
                  <label class="ps-2" for="{{account}}" style="user-select: none;">{{ account }}</label>
              </div>
            </li>
        </ul>
    </div>
    </div>
    <div class="col-lg-4">
      
    </div>
    <div class="d-flex col-lg-4 mb-lg-2 col-12 px-5">
      <div class="d-flex dropdown ms-auto me-1">
        <button class="btn btn-warning ms-auto" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Filter Categories
            <i class="bi bi-filter-circle-fill"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li *ngFor="let category of dbCategories">
              <div class="dropdown-item" (click)="$event.stopPropagation()" (click)="toggleCategoryFilter(category)">
                  <input type="checkbox" id="{{category}}Filter" value="{{category}}Filter">
                  <label class="ps-2" for="{{category}}Filter" style="user-select: none;">{{ category }}</label>
              </div>
            </li>
        </ul>
      </div>
      <div class="d-flex dropdown">
        <button class="btn btn-dark ms-auto" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Blacklist Categories
            <i class="bi bi-slash-circle"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li *ngFor="let category of dbCategories">
              <div class="dropdown-item" (click)="$event.stopPropagation()" (click)="toggleCategoryBlacklist(category)">
                  <input type="checkbox" id="{{category}}Blacklist" value="{{category}}Blacklist">
                  <label class="ps-2" for="{{category}}Blacklist" style="user-select: none;">{{ category }}</label>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="row pb-3">
    <div class="col-12">
      <div class="row mx-0 border bg-light rounded shadow py-2">
        <div class="col-lg-4 col-12 d-flex ms-lg-4 mb-lg-0 mb-2">
          <div class="bg-light border shadow rounded px-2 me-2">
            <span class="text-center">
              Period Month Total
            </span>
            <h6 class="text-center" [ngClass]="periodChangeTotal > 0? 'text-success' : 'text-danger'">
              {{ periodChangeTotal | currency }}
            </h6>
          </div>
          <div class="bg-light border shadow rounded px-2">
            <span class="text-center">
              Period Month Average
            </span>
            <h6 class="text-center">
              {{averageMonthlyTotal | currency}}
            </h6>
          </div>
        </div>
        <div class="d-flex bg-warning rounded-pill justify-content-center align-items-center
                    col-12 mb-2
                    col-lg-4 mb-lg-0">
          <h5>Monthly Total Change over Time</h5>
        </div>
        <div class="col-lg-4 mb-lg-0 col-12 mb-2 w-25 bg-dark rounded py-2 px-3 ms-auto me-4">
          <select class="form-select bg-light-yellow" id="">
            <option value="">1 Year</option>
            <option value="">6 months</option>
            <option value="">Quarter</option>
          </select>
        </div>
        <div class="col-12 mx-auto mt-2" id="overtimeChart" style="width: 98%; height: 350px;"></div>
      </div>
    </div>
  </div>

  <div class="row gy-3 d-flex align-items-stretch">
    <!-- Mon Dropdown -->
    <div class="col-4 d-flex align-items-center justify-content-center">
      <div class="d-flex border bg-light rounded shadow py-3 w-100 h-100 align-items-center justify-content-center">
        <div class="w-75 mx-auto">
          <h6 class="text-center">
            Analytics for:
          </h6>
          <select class="form-select text-start"
                  (click)="displayAnalytics = true"
                  (change)="updateMonth()"
                  [(ngModel)]="selectedMonth"
                  id="yyyymmSelect">
            <option *ngFor="let yyyymm of selectedYyyymm.reverse()" value="{{yyyymm}}">{{yyyymm | monYear }}</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Month Title -->
    <div class="col-4 d-flex align-items-center justify-content-center">
      <div class="d-flex border bg-light rounded shadow py-3 w-100 h-100 align-items-center justify-content-center">
        <h2 class="text-center">
          {{ selectedMonth | monYear }}
        </h2>
      </div>
    </div>

    <!-- Curr Mon Total -->
    <div class="col-4 d-flex align-items-center justify-content-center">
      <div class="border bg-light rounded shadow py-3 w-100">
        <h6 class="text-center">
          Month Total
        </h6>
        <div class="d-flex justify-content-center align-items-center text-center">
          <h4 class="my-auto">
            {{ selectedMonthTotal | currency }}
          </h4>
          <p class="fs-6 my-auto ms-2">
             (
            <span [ngClass]="momKpi > 0? 'text-success' : 'text-danger'">
              {{ momKpi | percent}},
            </span>
            <span>
              {{ previousMonthTotal | currency }} )
            </span>
          </p>
        </div>
      </div>
    </div>
    
    <!-- Month Bar Chart -->
    <div class="col-6" >
      <div class="border bg-light rounded shadow py-2">
        <div class="mx-2" id="monthChart" style="width: 98%; height: 400px;"></div>
      </div>
    </div>
      
    <!-- Month Transaction Table -->
    <div class="col-6">
      <div class="border bg-light rounded shadow p-2">
          <div class="table-scrollable">
            <table class="table table-striped table-light pt-1" style="height: 400px;">
              <thead class="sticky-div">
                <tr>
                  <th>
                    Transaction Name
                    <i class="bi bi-sort-down"></i>
                  </th>
                  <th><span class="text-decoration-underline">
                    Amount 
                  </span></th>
                  <th>
                    <!-- Category filters -->
                    <div class="d-flex">
                      <span class="text-decoration-underline">
                        Category
                      </span>
                      <div class="d-flex dropdown ms-auto">
                        <div class="badge bg-warning" style="cursor: pointer;">
                          <i class="bi bi-filter-circle-fill text-dark fs-6" data-bs-toggle="dropdown"></i>
    
                          <!-- Dropdown menu -->
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li *ngFor="let category of dbCategories">
                              <div class="dropdown-item" (click)="$event.stopPropagation()" (click)="toggleMonthCategoryFilter(category)">
                                  <input type="checkbox" id="{{category}}MonthFilter" value="{{category}}MonthFilter">
                                  <label class="ps-2" for="{{category}}MonthFilter" style="user-select: none;">{{ category }}</label>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="badge bg-dark " style="cursor: pointer;">
                          <div class="my-auto">
                            <i class="bi bi-slash-circle fs-6" data-bs-toggle="dropdown"></i>
      
                            <!-- Dropdown menu -->
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <li *ngFor="let category of dbCategories">
                                <div class="dropdown-item" (click)="$event.stopPropagation()" (click)="toggleMonthBlacklistFilter(category)">
                                    <input type="checkbox" id="{{category}}MonthBlacklist" value="{{category}}MonthBlacklist">
                                    <label class="ps-2" for="{{category}}MonthBlacklist" style="user-select: none;">{{ category }}</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let entry of monthTable">
                    <!-- Transaction Name -->
                    <td>
                      {{ entry.name }}
                    </td>
                    <!-- Amount -->
                    <td>
                      {{ entry.amount | currency }}
                    </td>
                    <!-- Category Rows-->
                    <td>
                      <div class="d-flex">
                        <p class="clickable-text w-75 rounded py-0 m-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ entry.category }}
                        </p>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li>
                            <div class="dropdown-item bg-light-yellow" (click)="createCategoryButton(entry)">
                              <label class="ps-2">New Category</label>
                            </div>
                          </li>
                            <li *ngFor="let category of dbCategories">
                              <div class="dropdown-item" (click)="changeTransactionCategory(entry.name, category)">
                                  <label class="ps-2">{{ category }}</label>
                              </div>
                            </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
  
</div>