
<div class="border rounded shadow min-vh-75 bg-med-yellow">
    <div class="row bg-light justify-content-center align-items-center p-3 my-3 mx-2
            border shadow rounded-pill">
            <span class="text-center">
                    <i class="fa-solid fa-cat"></i>
                    Buy 2 get 1 free!!
                    <i class="fa-solid fa-cat"></i>
            </span>
    </div>

    <div class="row my-3 justify-content-around">
        <div class="col-12 col-sm-12 my-3">
            <div class="card pt-3 mx-2">
                <div class="mx-auto d-flex h-100">
                    <video class="my-auto" width="100%" controls>
                        <source src="/assets/demo-video.mp4">
                    </video>
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    Card Title
                  </h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
            <div class="card pt-3 mx-2">
                <div class="mx-auto d-flex h-100 w-100">
                    <video class="my-auto" width="100%" height="300px" controls>
                        <source src="/assets/set-equal.mp4">
                    </video>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
            <div class="card pt-3 mx-2">
                <div class="mx-auto d-flex h-100 w-100">
                    <video class="my-auto" width="100%" height="300px"  controls>
                        <source src="/assets/demo-video.mp4">
                    </video>
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    Card Title
                  </h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
            <div class="card pt-3 mx-2">
                <div class="mx-auto d-flex h-100 w-100">
                    <video class="my-auto" width="100%" height="300px" controls>
                        <source src="/assets/set-equal.mp4">
                    </video>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>